:host {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;

  padding: 1rem;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.link-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 3rem;
}

ul.link-list a.button {
  min-height: fit-content;
  min-width: fit-content;
  width: 140px;
  height: 140px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
