<div class="heading-row">
  <h2>Tickets</h2>
  <a class="button button-primary" routerLink="new" [relativeTo]="activatedRoute">New</a>
</div>

<table>
  <thead>
  <tr lang="en-GB">
    <th>Id</th>
    <th>Title</th>
    <th>Description</th>
    <th>Tags</th>
    <th>Updated At</th>
    <th>Updated By</th>
    <th><div class="visually-hidden">Actions</div></th>
  </tr>
  </thead>
  <tbody>
    @for(page of $ticketPages(); track '' + page.page.number + '' + page.page.size) {
      @for (ticket of page._embedded.ticketList; track ticket.id) {
        <tr [lang]="ticket.language">
          <td>{{ ticket.id }}</td>
          <td>{{ ticket.title }}</td>
          <td>{{ ticket.description }}</td>
          <td>
            @if (ticket.tags.length) {
              <ul class="tag-list">
                @for (tag of ticket.tags; track tag.id) {
                  <li [lang]="tag.language" class="tag">{{ tag.name }}</li>
                }
              </ul>
            }
          </td>
          <td>{{ ticket.updatedAt | date : 'dd.MM.yyyy hh:mm' }}</td>
          <td>{{ ticket.updatedBy?.name }}</td>
          <td>
            <ul class="action-list">
              <li>
                <a [routerLink]="['/tickets', ticket.id]" class="button">View</a>
              </li>
              <li>
                <a [routerLink]="['/tickets', ticket.id, 'edit']" class="button">Edit</a>
              </li>
              <li>
                <button type="button" class="delete" (click)="deleteEntry(ticket)">Delete</button>
              </li>
            </ul>
          </td>
        </tr>
      }
      <tr>
        <td colspan="10">
          Page {{ page.page.number + 1 }} of {{ page.page.totalPages }}
        </td>
      </tr>
    }

  </tbody>
</table>

@if($ticketPages().length && $ticketPages()[$ticketPages().length - 1].page.number < ($ticketPages()[0].page.totalPages)) {
  <button type="button" (click)="loadNextPage()">
    <small>Load more</small>
  </button>
}

